.axis.y .tick line
    stroke-dasharray 2 2
    stroke #ccc


.line > svg
    width 100%
    height 100%


.groupedbar > svg 
    width 100%
    height 100%

.bar
  stroke #333
  stroke-width 1
  transition opacity 0.4s linear

.faded rect
    opacity 0.2
